<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="rm-m-5 rm-dis">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Rezervari</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon>sports_soccer</mat-icon>
            <h3>
              <span>Teren Minifotbal</span>
            </h3>
          </mat-list-item>
        </mat-list>

        <mat-list role="list" class="rm-dis-list">
          <mat-list-item role="listitem">
            <mat-icon>person</mat-icon>
            Lajos Carina
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon>local_phone</mat-icon>
            0745625622
          </mat-list-item>
        </mat-list>

        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon class="">local_atm</mat-icon>
            <h3>
              <span>Tarife</span>
            </h3>
          </mat-list-item>
        </mat-list>

        <mat-list role="list" class="rm-dis-list">
          <mat-list-item role="listitem">
            <mat-icon class="">wb_sunny</mat-icon>
            Vara
          </mat-list-item>
          <mat-list-item role="listitem" class="rm-dis-list">Pana la ora 18 - 60 LEI</mat-list-item>
          <mat-list-item role="listitem" class="rm-dis-list">Dupa la ora 18 - 100 LEI</mat-list-item>

          <mat-list-item role="listitem">
            <mat-icon class="rm-m-40">ac_unit</mat-icon>
            Iarna
          </mat-list-item>
          <mat-list-item role="listitem" class="rm-dis-list">Incepand cu data de 01.01.2018</mat-list-item>
          <mat-list-item role="listitem" class="rm-dis-list">150 LEI (tarif unic pentru teren acoperit cu balon si incalzit prin ventilare)</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="rm-m-5 rm-dis">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Rezervari</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <fa-icon [icon]="faRunning"></fa-icon>
            <h3>
              <span>Teren Tenis cu Piciorul</span>
            </h3>
          </mat-list-item>
        </mat-list>

        <mat-list role="list" class="rm-dis-list">
          <mat-list-item role="listitem">
            <mat-icon>person</mat-icon>
            Lajos Carina
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon>local_phone</mat-icon>
            0745625622
          </mat-list-item>
        </mat-list>

        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon class="">local_atm</mat-icon>
            <h3>
              <span>Tarife</span>
            </h3>
          </mat-list-item>
        </mat-list>

        <mat-list role="list" class="rm-dis-list">
          <mat-list-item role="listitem" class="rm-dis-list">Pana la ora 18 - 20 LEI</mat-list-item>
          <mat-list-item role="listitem" class="rm-dis-list">Dupa la ora 18 - 30 LEI</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>


