.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.rm-m-5 {
  margin: 25px 25px;
}

.rm-dis {
  width: 500px;
}

.rm-dis-list {
margin-left: 10px;
}

h3 {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  line-height: 0.1em;
  margin: 10px 0 10px;
}

h3 span {
  background:#fff;
  padding:0 10px;
}
