<div class="rm-m-5">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="!isLoading">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let header of columns" [matColumnDef]="header.value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{header.display}} </th>
        <td mat-cell *matCellDef="let row"> {{row[header.value]}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>

